
.card-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.4rem;
  row-gap: 2rem;
  margin-bottom: 9.6rem;
}

.card{
  position: relative;
  overflow: hidden;
  border-radius: .6rem;
  padding: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
  -moz-box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
  box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
}

.card:hover{
  transform: translateY(-.8rem);
}

.card .atr{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  padding: .2rem .4rem;
  background: rgb(248,162,2);
  background: linear-gradient(90deg, rgba(248,162,2,1) 0%, rgba(219,207,36,1) 35%, rgba(255,255,255,1) 100%); 
  z-index: 9999;
}

.card picture{
  position: relative;
  height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  padding: 1.6rem 0;
  overflow: hidden;
}

.card picture img{
  position: absolute;
  width: 100%;
  max-height: 100%;
}

.card picture p{
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #888;
  text-transform: uppercase;
  border: .1rem solid #c2c2c2;
}

.card .nm{
  font-size: 1.4rem;
  color: #333;
  height: 4.4rem;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card .pr{
  color: #333;
  font-weight: 700;
  font-size: 1.6rem;
}

.card .pr span{
  text-decoration: underline;
  margin-left: .6rem;
}