@import url("./card.css");
@import url("./category.css");
@import url("./page.css");

.template .box{
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

main{
  width: 80%;
  margin: auto;
}

main .container{
  width: 100%;
  padding: 1.4rem;
  box-sizing: border-box;
  margin: auto;
}

main .container .row-t-ops,
main .container .row-t-t{
  margin-bottom: 2rem;
}

main .container .row-t-t .t-t{
  font-size: 1.4rem;
  color: #333 !important;
  margin-bottom: 2rem;
}

main .container .row-t-t .t-t a:first-child{
  color: #888 !important;
}

main .container .row-t-t .t-h{
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}


main .container .row-t-ops .t-opts{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: .4rem;
}

main .container .row-t-ops .t-opts .item{
  cursor: pointer;
  position: relative;
  border-radius: .4rem 0 0 .4rem;
  user-select: none;
  -webkit-user-select: none;
}

main .container .row-t-ops .t-opts .item:last-child{
  border-radius: 0 .4rem .4rem 0;
}

main .container .row-t-ops .t-opts .item:hover{
  background-color: #eee;
}

main .container .row-t-ops .t-opts .item .fill{
  display: flex;
  align-items: center;
  color: #555;
  padding: 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
}


main .container .row-t-ops .t-opts .item .fill i{
  font-size: 1.8rem !important;
  margin-right: .4rem;
}

main .container .row-t-ops .t-opts .item:last-child .fill i{
  margin: 0;
  margin-left: .4rem;
}

main .container .row-t-ops .t-opts .item .fill span{
  font-weight: 500;
  color: #333 !important;
}

main .container .row-t-ops .t-opts .item ol{
  position: absolute;
  top: calc(100% + 1.8rem);
  background-color: #fff;
  border-radius: .4rem;
  width: 22rem;
  overflow: hidden;
  z-index: 99999;
  -webkit-box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
  -moz-box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
  box-shadow: 0px 3px 9px -2px rgba(184,184,184,1);
}

main .container .row-t-ops .t-opts .item:last-child ol{
  right: 0;
}

main .container .row-t-ops .t-opts .item ol li{
  margin: .2rem 0;
}

main .container .row-t-ops .t-opts .item ol li:hover{
  background-color: #eee;
}

main .container .row-t-ops .t-opts .item ol li a{
  display: flex;
  font-size: 1.6rem;
  padding: .8rem 1rem;
  user-select: none;
  -webkit-user-select: none;
}

main .container .row-t-ops .t-opts .item ol li a input{
  width: 1.6rem;
  margin-right: .8rem;
  pointer-events: none;
}